doctype html
html
  head
    meta(charset="utf-8")
    title Vue_tuto_app
    link(rel='stylesheet', href='css/style.css')
  body
    #app
      input(type="text" v-model="searchText")
      hr
      div(v-repeat="users | filterBy searchText in name" v-on="click: onClickUser(this)" v-class="Selected: this == selectedUser")
        {{name}}
      hr
      div(v-show="selectedUser")
        div
          名前: {{selectedUser.name}}
        div
          コメント: {{selectedUser.comment}}

    script(src='js/bundle.js')


