doctype html
html
  head
    title Gulp template
    link(rel='stylesheet', href='css/style.css')
  body
    #app
      h1 Hello world!
      p
        input(type="text" v-model="msg")
      p
        input(type="checkbox" v-model="checked")
      //- button(v-on="click: submit")
      //-   |submit
      p
        select(v-model="selected")
          option
            |one
          option
            |two
      {{checked ? "yes": "no"}}
      {{msg}}
      {{selected}}
      
      select(v-model="selected" options="myOptions")

    script(src='js/bundle.js')


