doctype html
html
  head
    title Gulp template
    link(rel='stylesheet', href='css/style.css')
  body
    h1 Hello world!
    #app
      //- //- v-show 条件がfalseになるとdisplay: none;がセットされる
      //- div(v-show="selected")
      //-   |selected=trueの時に表示
      //- div(v-show="!selected")
      //-   |selected=falseの時に表示

      //- <!-- v-class 条件がtrueとなると、それぞれred, boldのclassが適用される -->
      //- span(v-class="red: hasError, bold: isImportant")
      //-   |重要メッセージ
      //- ul
      //-   li(v-repeat="users")
      //-     {{$index + 1}}: {{name}}: {{email}}
      button(v-on="click: submit('hello', $event)")
        |submit
    script(src='js/bundle.js')


